# --- Environments ---
venv/
.env

# --- IGNORE THESE MASSIVE DATASETS (Matches your sidebar) ---
output/
Raw_Dataset_Backup/
Raw_Split_Dataset/
Shooting_Dataset/
seeds/

# --- Ignore YOLO specific heavy files ---
runs/
*.pt
*.onnx
# BUT... do not ignore our MVP (Most Valuable Predictor)
!models/snyptr_v1_91acc.pt

# --- Ignore standard junk ---
__pycache__/
*.pyc
.DS_Store


# Ignore Python temporary files
__pycache__/
*.pyc



# Ignore trained AI models (they are too heavy for GitHub)
*.h5
*.keras